

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   background: #1b1d22;
   color: #eee;
}

header {
   padding: 2vw;
   background: #69e;
}
/* == [ posts ] 
== == == == == == == == == */
post-input-area {
   display: block;
   padding: 2vw;
   margin: 5vw 0;
}
form {
   display: block;
}
form > label {
   display: block;
}
t { display: block; }
textarea { width: 100%; }
#submit_btn {
   min-width: 100px;
   padding: 2vw;
   border-radius: 1.5vw;
   border: transparent;
   cursor: pointer;
}

posts {
   display: grid;
   background: #16181c;
   border: 1px #f22 solid;
   border-radius: 2vw;
   width: 95%;
   margin: 0 auto;
   padding: 2vw;
   gap: 1.5vw;
}

post {
   display: grid;
   background: #fff1;
   border-radius: 1vw;
   padding: 1vw;
   grid-template-columns: .9fr .1fr;
}

post > content {
   display: block;
   /* background: #f5f5f5; */
}
post > options {
   display: grid;
   align-items: center;
   grid-auto-flow: column;
   justify-content: space-evenly;
}
message {
   display: block;
   min-height: 1.1em;
   position: relative;
} message > t { position: absolute; color: #f22; }